header{
	font-family: Arial, Tahoma;
    font-size: 12px;
}
body{
    font-family: Arial, Tahoma;
    font-size: 12px;
	border: 1px solid #CDCDCD;	
	margin: 20px 80px 10px 80px;
	height: auto;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
	/*Đổ bóng*/
	-webkit-box-shadow: 2px 5px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 2px 5px 3px rgba(0,0,0,.4);
        box-shadow: 2px 5px 3px rgba(0,0,0,.4);
}
#nav{
	height:70px;
	border-top : 2px solid #CDCDCD;	
	border-bottom : 2px solid #CDCDCD;
}
#nav ul{
	list-style: none;
	margin: 0; padding: 0;
}
#nav li{
	margin: 0; padding: 0;
}
#nav a{
	margin: 0; padding: 0;
	text-decoration: none;/*xóa dấu gạch chân của link*/
}
#nav > ul > li{
	float: left;
    margin-left: 15px;
    position: relative;
}
#nav > ul > li > a{
	color: rgb(160,160,160);
    font-family: Verdana, Lucida Grande;
    font-size: 15px;
    line-height: 70px;
    padding: 15px 20px;
	-webkit-transition: color .30s;
	-moz-transition: color .30s;
    transition: color .30s;
    transition: color .30s;
	/*Bo viền*/
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,.4);
}
#nav > ul > li > a:hover{
	color: rgb(250,250,250);
	background-color:rgb(205,44,36);
}
#nav > ul > li >ul{
	opacity: 0;
    visibility: hidden;
    padding: 16px 0 20px 0;
    background-color: rgb(250,250,250);
    text-align: left;
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
-webkit-transition: all .3s .1s;
   -moz-transition: all .3s .1s;
     -o-transition: all .3s .1s;
        transition: all .3s .1s;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
   -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.4);
        box-shadow: 0px 1px 3px rgba(0,0,0,.4);
	
}
#nav > ul > li:hover > ul{
	opacity: 1;
    top: 80px;
    visibility: visible;
}
#nav > ul > li > ul:before{
	content: '';
    display: block;
    border-color: transparent transparent rgb(250,250,250) transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -10px;
}
#nav > ul ul > li { 
	position: relative;
}
#nav ul ul a{
    color: rgb(50,50,50);
    font-family: Verdana, Lucida Grande;
    font-size: 13px;
    background-color: rgb(250,250,250);
    padding: 5px 8px 7px 16px;
    display: block;
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-transition: background-color .1s;
   -moz-transition: background-color .1s;
     -o-transition: background-color .1s;
        transition: background-color .1s;	
		-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
}
/*#nav ul ul a:hover{
	background-color: rgb(240,240,240);
}*/
#nav ul ul a:hover{
    background-color: rgb(205,44,36);
    color: rgb(240,240,240);
}
#head{
    height: 100px;
    margin-bottom:5px;
	font-size:50px;
}
#left{
    width: 165px;
    min-height: 400px;
    float:left;
    margin-bottom: 5px;
	 
}
#content{
	margin-top:5px;
	height:auto;
	font-size:20px;
	font-style: color;
	padding-left:30px;
	border-top : 2px solid #CDCDCD;
	border-bottom : 2px solid #CDCDCD;
}
#footer{
	border-top : 2px solid #CDCDCD;
	margin-top:5px;
    height: 50px;
    clear: both;
	padding-top:20px;
}
#footer > p{
	text-align:center;
}